h2{
  text-align: center;
}
.wrap {
  margin: 0 auto;
  width: auto;
  padding: 0;
  max-width: 1680px;
  list-style: none;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap li {
  /*vertical-align: top; /* fallback*/
  margin: 2% 1%;
  display: inline-block;
  flex-direction: row;
  flex: 1 1 13em; /* Flex grow and shrink allow more "flexibility", flex-basis infers a non-rigid width to control wrapping */
  background: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition: 0.3s;
}

.wrap li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.top {
  padding: 6px;
  background: #6A509C;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.single-block {
  width: 20%;
  height: 180px;
  border-radius: 10px;
}
.main { 
  float: left;
  width: 100%;
  padding: 0 5%;
}
.top h3 {
  margin: 1em 0;
  text-align: center;
}

.mid {
  padding: 10px;
  text-align: center;
  color: #505050;
  font-family: "Avenir Next",Demi Bold;
  min-height: 65px;
  background: #F1F0F6;
  font-weight: 600;
}

.addBtn{
  text-align: right;
}
.footer {
  text-align: center;
  margin-top: auto; /* this is important to move footer down*/
  padding: 10px;
  background: #F1F0F6;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.edit-btn, .delete-btn, .add-btn {
    width: 40%;
    border: none;
    border-radius: 15px;
    height: 25px;
    background: #06BBA0;
    color: #FFF;
    font-weight: 600;
}
.delete-btn {
  background-color: #ff6666;
}
.add-btn {
  background-color: #5f91fc;
  width: 10%;
  height: 35px;
  margin-right: 5%;
}

button :hover{
  background-color: #aac5ff;
}

.title-text {
  font-size: 2.08vw;
    font-weight: 700;
    color: #48227E;
    font-family: "itc-avant-garde-gothic-pro", Bold;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}