<div class="nav">
    <ul>
        <li class="main" href="#about">Sentency</li>
        <li style="float:right" *ngIf="!_authService.loggedIn()" class="nav-link"  routerLink="/login" routerLinkActive="active">Login</li>
        <li style="float:right" *ngIf="!_authService.loggedIn()" class="nav-link"  routerLink="/register" routerLinkActive="active">Register</li>
        <li style="float:right" *ngIf="_authService.loggedIn()" class="nav-link"  (click)="_authService.logoutUser()">Logout</li>
        <li class="nav-link"  routerLink="/special" routerLinkActive="active">Home</li> 
        <li class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
        <li class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/analysis" routerLinkActive="active">Analysis</li> 
    </ul>
</div>   
<div>
  <router-outlet></router-outlet>            
</div>

