<h2 class="head">Dashboard</h2>
  <ul>
      <li>total Sentences Count: {{ dashboardData.totalSentencesCount }}</li>
      <li>total Character Count: {{ dashboardData.totalCharacterCount }}</li>
      <li>total Upper Case Alphabets Count: {{ dashboardData.totalUpperCaseAlphabetsCount }}</li>
      <li>total Lower Case Alphabets Count: {{ dashboardData.totalLowerCaseAlphabetsCount }}</li>
      <li>total Non Alphabetic Characters Count: {{ dashboardData.totalNonAlphabeticCharactersCount }}</li>
  </ul>
