<div class="register-form">
      <h2 class="title-text">Register</h2>
      <svg class="active-tab-ul" height="5" width="5%" style="display: flex; margin: 3px auto 0;">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#06BBA0;stroke-width:4"></line>
      </svg>
    <div class="registration-main">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" [class.danger]="name.invalid && name.touched" placeholder="Name" formControlName="name">
          <div *ngIf="name.invalid && name.touched">
            <small class="text-danger" *ngIf="name.errors?.required">Name is required</small>
          </div>  
        </div>

        <div>
          <input type="text" [class.danger]="email.invalid && email.touched" placeholder="Email" formControlName="email">
          <div *ngIf="email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors?.required">Email is required</small>
            <small class="text-danger" *ngIf="email.errors?.email">Invalid email format</small>
          </div>          
        </div>

        <div >
          <input type="text" [class.danger]="username.invalid && username.touched" placeholder="Username" formControlName="username">
          <div *ngIf="username.invalid && username.touched">
            <small class="text-danger" *ngIf="username.errors?.required">Required Field</small>
          </div>          
        </div>

        <div>
          <input type="password" [class.danger]="password.invalid && password.touched" placeholder="Password" formControlName="password">
          <div *ngIf="password.invalid && password.touched">
            <small class="text-danger" *ngIf="password.errors?.minlength">Min Length 8 characters</small>
          </div> 
        </div>
    
        <div>
          <input type="password" [class.danger]="registrationForm.errors?.misMatch" placeholder="ConfirmPassword" formControlName="confirmPassword">
          <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>
        
        <div class="btn-container">
          <button  [disabled]="!registrationForm.valid" type="submit">Register</button>
        </div>
      </form>
     
    </div>
</div>
