input[type] {
    width: 100%;
    padding: 12px 25px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .danger {
    border: 2px solid red;
    border-radius: 4px;
  }

  .text-danger {
    color: rgb(255, 0, 0);
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 100px;
    margin-top: auto;
  }
  button:hover {
    background-color: #99d4a1; /* Green */
    color: rgb(47, 167, 36);
  }